---
title: 8000038 GDPR bērna konta verifikācija
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 5/16/2018
ms.audience: ITPro
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 993797d951dddea20d7df24ad40b5834a537852a
ms.sourcegitcommit: dd43cc0a9470f98b8ef2a3787c823801d674c666
ms.translationtype: MT
ms.contentlocale: lv-LV
ms.lasthandoff: 02/12/2019
ms.locfileid: "29919951"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a>Parādīt Microsoft kontu dzimšanas datums nav pareizs

Microsoft kontu drošību uztver ļoti nopietni. Var nesen tika piedāvāts noteikt vecāku piekrišanu bērna Microsoft kontu. Ja jums vajadzīga palīdzība, nodrošinot vecāku piekrišanu vai atjaunināšanu uz Microsoft kontu dzimšanas datums, skatiet [vecuma pārbaude par vecāku piekrišanu](https://go.microsoft.com/fwlink/p/?linkid=874364).
  
Uzziniet vairāk par [Microsoft bērnu kontus un vecāku piekrišanu](https://go.microsoft.com/fwlink/p/?linkid=874365).
  

