---
title: EDU verifikācija
ms.author: pebaum
author: pebaum
manager: scotv
ms.audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "1500009"
- "5578"
ms.openlocfilehash: 24a9cd94272f4103fe404bf86e519582138e6b37734e11715b72ebcd2de9d5cb
ms.sourcegitcommit: b5f7da89a650d2915dc652449623c78be6247175
ms.translationtype: MT
ms.contentlocale: lv-LV
ms.lasthandoff: 08/05/2021
ms.locfileid: "53946748"
---
# <a name="edu-verification"></a>EDU verifikācija

Vairākumā gadījumu akadēmiskās atbilstības pieprasījumi tiek apstrādāti 24–48 stundu laikā. Dažiem pieprasījumiem var būt nepieciešama padziļināta pārskatīšana, un to apstrāde var ilgt līdz pat 10 darba dienām. Pēc pabeigšanas mēs nosūtīsim e-pasta ziņojumu ar jūsu mācību iestādes atbilstības statusu.

**Svarīgi!** Ja pirms domēna ievadīšanas izgājāt no verifikācijas vedņa, varat [atsākt akadēmiskās verifikācijas vedni](https://go.microsoft.com/fwlink/p/?linkid=2135255) jebkurā brīdī, izmantojot bezmaksas izmēģinājumversiju.

Ja vēlaties pārbaudīt sava domēna statusu, dodieties uz [Microsoft 365 administrēšanas centru](https://go.microsoft.com/fwlink/p/?linkid=2024339). Sākumlapā ritiniet līdz apakšai un atrodiet kartīti **Norēķini**. Kartītē **Norēķini** ir norādīts verifikācijas procesa statuss (apstiprināts, gaida, noraidīts vai pievienot domēnu).

Ja jūsu pieprasījums ir noraidīts, skatiet rakstu [Mana skola nav piemērota. Ko iesākt?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)