---
title: EDU verifikācija
ms.author: pebaum
author: pebaum
manager: mnirkhe
ms.audience: Admin
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "1500009"
- "5578"
ms.openlocfilehash: 1889eb9b18f312da00196d575376960bc6b028fd
ms.sourcegitcommit: 9e44b852d18a2816acac0aacb78cb99b4c114368
ms.translationtype: MT
ms.contentlocale: lv-LV
ms.lasthandoff: 07/22/2020
ms.locfileid: "45205274"
---
# <a name="edu-verification"></a><span data-ttu-id="d52da-102">EDU verifikācija</span><span class="sxs-lookup"><span data-stu-id="d52da-102">EDU verification</span></span>

<span data-ttu-id="d52da-103">Vairumā gadījumu akadēmiskie atbilstības pieprasījumi tiek apstrādāti 24-48 stundu laikā.</span><span class="sxs-lookup"><span data-stu-id="d52da-103">In most cases, academic eligibility requests are processed within 24-48 hours.</span></span> <span data-ttu-id="d52da-104">Dažiem pieprasījumiem var būt nepieciešama rūpīgāka pārskatīšana, un tie var ilgt līdz pat 10 darba dienām, lai tos apstrādātu.</span><span class="sxs-lookup"><span data-stu-id="d52da-104">Some requests may require more thorough review and can take up to 10 business days to process.</span></span> <span data-ttu-id="d52da-105">Kad tas būs pabeigts, mēs nosūtīsim e-pastu ar jūsu skolas atbilstības statusu.</span><span class="sxs-lookup"><span data-stu-id="d52da-105">Once completed, we will send an email with your school’s eligibility status.</span></span>

<span data-ttu-id="d52da-106">**Svarīga informācija** Ja pirms domēna ievadīšanas izgājāt no verifikācijas vedņa, varat [atsākt akadēmiskās pārbaudes vedni](https://go.microsoft.com/fwlink/p/?linkid=2135255) jebkurā laikā bezmaksas izmēģinājumversijas laikā.</span><span class="sxs-lookup"><span data-stu-id="d52da-106">**Important** If you exited the verification wizard before entering a domain, you can [resume the academic verification wizard](https://go.microsoft.com/fwlink/p/?linkid=2135255) at any time during your free trial.</span></span>

<span data-ttu-id="d52da-107">Ja vēlaties pārbaudīt sava domēna statusu, dodieties uz [Microsoft 365 administrēšanas centru](https://go.microsoft.com/fwlink/p/?linkid=2024339).</span><span class="sxs-lookup"><span data-stu-id="d52da-107">If you would like to check the status of your domain, go to the [Microsoft 365 admin center](https://go.microsoft.com/fwlink/p/?linkid=2024339).</span></span> <span data-ttu-id="d52da-108">Sākumlapā ritiniet līdz apakšai un atrodiet **norēķinu** karti.</span><span class="sxs-lookup"><span data-stu-id="d52da-108">On the home page, scroll to the bottom and find the **Billing** card.</span></span> <span data-ttu-id="d52da-109">Norēķinu **karte** norāda verifikācijas procesa statusu (apstiprināts, gaidošs, noraidīts vai pievienot jūsu domēnu).</span><span class="sxs-lookup"><span data-stu-id="d52da-109">The **Billing** card indicates the status of the verification process (approved, pending, declined, or add your domain).</span></span>

<span data-ttu-id="d52da-110">Ja jūsu pieprasījums ir noraidīts, [skatiet rakstu Mana skola nav piemērota. Ko man darīt tagad?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)</span><span class="sxs-lookup"><span data-stu-id="d52da-110">If your request is denied, see [My school isn’t eligible. What do I do now?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)</span></span>