---
title: EDU verifikācija
ms.author: pebaum
author: pebaum
manager: scotv
ms.audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "1500009"
- "5578"
ms.openlocfilehash: 870f175adc5ee31d32266a69af9acedb66899bc8
ms.sourcegitcommit: 8bc60ec34bc1e40685e3976576e04a2623f63a7c
ms.translationtype: HT
ms.contentlocale: lv-LV
ms.lasthandoff: 04/15/2021
ms.locfileid: "51814379"
---
# <a name="edu-verification"></a><span data-ttu-id="c2f26-102">EDU verifikācija</span><span class="sxs-lookup"><span data-stu-id="c2f26-102">EDU verification</span></span>

<span data-ttu-id="c2f26-103">Vairākumā gadījumu akadēmiskās atbilstības pieprasījumi tiek apstrādāti 24–48 stundu laikā.</span><span class="sxs-lookup"><span data-stu-id="c2f26-103">In most cases, academic eligibility requests are processed within 24-48 hours.</span></span> <span data-ttu-id="c2f26-104">Dažiem pieprasījumiem var būt nepieciešama padziļināta pārskatīšana, un to apstrāde var ilgt līdz pat 10 darba dienām.</span><span class="sxs-lookup"><span data-stu-id="c2f26-104">Some requests may require more thorough review and can take up to 10 business days to process.</span></span> <span data-ttu-id="c2f26-105">Pēc pabeigšanas mēs nosūtīsim e-pasta ziņojumu ar jūsu mācību iestādes atbilstības statusu.</span><span class="sxs-lookup"><span data-stu-id="c2f26-105">Once completed, we will send an email with your school’s eligibility status.</span></span>

<span data-ttu-id="c2f26-106">**Svarīgi!** Ja pirms domēna ievadīšanas izgājāt no verifikācijas vedņa, varat [atsākt akadēmiskās verifikācijas vedni](https://go.microsoft.com/fwlink/p/?linkid=2135255) jebkurā brīdī, izmantojot bezmaksas izmēģinājumversiju.</span><span class="sxs-lookup"><span data-stu-id="c2f26-106">**Important** If you exited the verification wizard before entering a domain, you can [resume the academic verification wizard](https://go.microsoft.com/fwlink/p/?linkid=2135255) at any time during your free trial.</span></span>

<span data-ttu-id="c2f26-107">Ja vēlaties pārbaudīt sava domēna statusu, dodieties uz [Microsoft 365 administrēšanas centru](https://go.microsoft.com/fwlink/p/?linkid=2024339).</span><span class="sxs-lookup"><span data-stu-id="c2f26-107">If you would like to check the status of your domain, go to the [Microsoft 365 admin center](https://go.microsoft.com/fwlink/p/?linkid=2024339).</span></span> <span data-ttu-id="c2f26-108">Sākumlapā ritiniet līdz apakšai un atrodiet kartīti **Norēķini**.</span><span class="sxs-lookup"><span data-stu-id="c2f26-108">On the home page, scroll to the bottom and find the **Billing** card.</span></span> <span data-ttu-id="c2f26-109">Kartītē **Norēķini** ir norādīts verifikācijas procesa statuss (apstiprināts, gaida, noraidīts vai pievienot domēnu).</span><span class="sxs-lookup"><span data-stu-id="c2f26-109">The **Billing** card indicates the status of the verification process (approved, pending, declined, or add your domain).</span></span>

<span data-ttu-id="c2f26-110">Ja jūsu pieprasījums ir noraidīts, skatiet rakstu [Mana skola nav piemērota. Ko iesākt?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)</span><span class="sxs-lookup"><span data-stu-id="c2f26-110">If your request is denied, see [My school isn’t eligible. What do I do now?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)</span></span>