---
title: EDU verifikācija
ms.author: pebaum
author: pebaum
manager: mnirkhe
ms.audience: Admin
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "1500009"
- "5578"
ms.openlocfilehash: 1889eb9b18f312da00196d575376960bc6b028fd
ms.sourcegitcommit: 9e44b852d18a2816acac0aacb78cb99b4c114368
ms.translationtype: MT
ms.contentlocale: lv-LV
ms.lasthandoff: 07/22/2020
ms.locfileid: "45205274"
---
# <a name="edu-verification"></a>EDU verifikācija

Vairumā gadījumu akadēmiskie atbilstības pieprasījumi tiek apstrādāti 24-48 stundu laikā. Dažiem pieprasījumiem var būt nepieciešama rūpīgāka pārskatīšana, un tie var ilgt līdz pat 10 darba dienām, lai tos apstrādātu. Kad tas būs pabeigts, mēs nosūtīsim e-pastu ar jūsu skolas atbilstības statusu.

**Svarīga informācija** Ja pirms domēna ievadīšanas izgājāt no verifikācijas vedņa, varat [atsākt akadēmiskās pārbaudes vedni](https://go.microsoft.com/fwlink/p/?linkid=2135255) jebkurā laikā bezmaksas izmēģinājumversijas laikā.

Ja vēlaties pārbaudīt sava domēna statusu, dodieties uz [Microsoft 365 administrēšanas centru](https://go.microsoft.com/fwlink/p/?linkid=2024339). Sākumlapā ritiniet līdz apakšai un atrodiet **norēķinu** karti. Norēķinu **karte** norāda verifikācijas procesa statusu (apstiprināts, gaidošs, noraidīts vai pievienot jūsu domēnu).

Ja jūsu pieprasījums ir noraidīts, [skatiet rakstu Mana skola nav piemērota. Ko man darīt tagad?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)