---
title: 8000038 GDPR bērna konta verifikācija
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 5/16/2018
ms.audience: ITPro
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.custom:
- "772"
- "788"
- "8000038"
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 035004602a439335380ec72ea65fd1bd70ebbf0d
ms.sourcegitcommit: 5fb7a4b28859690020efdea630d03e70cc0e6334
ms.translationtype: MT
ms.contentlocale: lv-LV
ms.lasthandoff: 06/28/2019
ms.locfileid: "35387064"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a><span data-ttu-id="d431c-102">Parādīt Microsoft kontu dzimšanas datums nav pareizs</span><span class="sxs-lookup"><span data-stu-id="d431c-102">Date of birth displayed in your Microsoft account is incorrect</span></span>

<span data-ttu-id="d431c-103">Microsoft kontu drošību uztver ļoti nopietni.</span><span class="sxs-lookup"><span data-stu-id="d431c-103">Microsoft takes account security very seriously.</span></span> <span data-ttu-id="d431c-104">Var nesen tika piedāvāts noteikt vecāku piekrišanu bērna Microsoft kontu.</span><span class="sxs-lookup"><span data-stu-id="d431c-104">You may have recently been prompted to provide parental consent for a child's Microsoft account.</span></span> <span data-ttu-id="d431c-105">Ja jums vajadzīga palīdzība, nodrošinot vecāku piekrišanu vai atjaunināšanu uz Microsoft kontu dzimšanas datums, skatiet [vecuma pārbaude par vecāku piekrišanu](https://go.microsoft.com/fwlink/p/?linkid=874364).</span><span class="sxs-lookup"><span data-stu-id="d431c-105">If you need help providing parental consent or updating the date of birth on a Microsoft account, see [Age verification for parental consent](https://go.microsoft.com/fwlink/p/?linkid=874364).</span></span>
  
<span data-ttu-id="d431c-106">Uzziniet vairāk par [Microsoft bērnu kontus un vecāku piekrišanu](https://go.microsoft.com/fwlink/p/?linkid=874365).</span><span class="sxs-lookup"><span data-stu-id="d431c-106">Learn more about [Parental consent and Microsoft child accounts](https://go.microsoft.com/fwlink/p/?linkid=874365).</span></span>
  