---
title: 8000038 GDPR bērna konta verifikācija
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 5/16/2018
ms.audience: ITPro
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.custom: 8000038
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: c664adf9fdb0306b3407a5c23628aa4c7bbd5b83
ms.sourcegitcommit: 03a156a9c9740521155a30775492c7dff0982588
ms.translationtype: MT
ms.contentlocale: lv-LV
ms.lasthandoff: 03/22/2019
ms.locfileid: "30775843"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a>Parādīt Microsoft kontu dzimšanas datums nav pareizs

Microsoft kontu drošību uztver ļoti nopietni. Var nesen tika piedāvāts noteikt vecāku piekrišanu bērna Microsoft kontu. Ja jums vajadzīga palīdzība, nodrošinot vecāku piekrišanu vai atjaunināšanu uz Microsoft kontu dzimšanas datums, skatiet [vecuma pārbaude par vecāku piekrišanu](https://go.microsoft.com/fwlink/p/?linkid=874364).
  
Uzziniet vairāk par [Microsoft bērnu kontus un vecāku piekrišanu](https://go.microsoft.com/fwlink/p/?linkid=874365).
  

