---
title: 8000038 VDAR bērnu konta verifikācija
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 04/21/2020
ms.audience: ITPro
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.custom:
- "772"
- "788"
- "8000038"
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 238d1440438bce2531f1a57f5592a204cf9c3cf3
ms.sourcegitcommit: 55eff703a17e500681d8fa6a87eb067019ade3cc
ms.translationtype: MT
ms.contentlocale: lv-LV
ms.lasthandoff: 04/22/2020
ms.locfileid: "43764987"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a>Jūsu Microsoft kontā parādītais dzimšanas datums nav pareizs

Microsoft ļoti nopietni ņem vērā konta drošību. Iespējams, jums nesen tika lūgts sniegt vecāku piekrišanu bērna Microsoft kontam. Ja jums ir nepieciešama palīdzība vecāku piekrišanas sniegšanai vai dzimšanas datuma atjaunināšanai Microsoft kontā, skatiet [vecāku piekrišanas vecuma pārbaude](https://go.microsoft.com/fwlink/p/?linkid=874364).
  
Uzziniet vairāk par [vecāku piekrišanu un Microsoft bērnu kontiem](https://go.microsoft.com/fwlink/p/?linkid=874365).
  