---
title: 8000038 VDAR bērna konta verifikācija
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 04/21/2020
ms.audience: ITPro
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.custom:
- "772"
- "788"
- "8000038"
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 6ad5de2c3595c775d7b5080c2ac116dd002e6777
ms.sourcegitcommit: c6692ce0fa1358ec3529e59ca0ecdfdea4cdc759
ms.translationtype: MT
ms.contentlocale: lv-LV
ms.lasthandoff: 09/14/2020
ms.locfileid: "47707970"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a>Jūsu Microsoft kontā parādītais dzimšanas datums ir nepareizs

Microsoft ļoti nopietni uztver kontu drošību. Jums, iespējams, nesen tika lūgts sniegt vecāku piekrišanu bērna Microsoft kontam. Ja jums ir vajadzīga palīdzība, lai nodrošinātu vecāku piekrišanu vai atjauninātu dzimšanas datumu Microsoft kontā, skatiet rakstu [vecāku piekrišanas vecuma pārbaude](https://go.microsoft.com/fwlink/p/?linkid=874364).
  
Uzziniet vairāk par [vecāku piekrišanu un Microsoft bērnu kontiem](https://go.microsoft.com/fwlink/p/?linkid=874365).
  