---
title: Publisher verifikācijas problēmu novēršana
ms.author: v-smandalika
author: v-smandalika
manager: dansimp
ms.date: 01/15/2021
ms.audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "9004323"
- "7712"
ms.openlocfilehash: d4d0a78256a869ef4c1e19fe1ceb590824b10817
ms.sourcegitcommit: 6dc6f999e840c90694a246b90062950205679420
ms.translationtype: MT
ms.contentlocale: lv-LV
ms.lasthandoff: 01/15/2021
ms.locfileid: "49885058"
---
# <a name="issues-related-to-publisher-verification-for-developers"></a>Problēmas, kas saistītas ar Publisher verifikāciju izstrādātājiem

**Ieteicamās darbības** 

Lai atrisinātu problēmas, kas saistītas ar Publisher verificēšanu, veiciet tālāk norādītās darbības.

1. Pārskatiet priekšnoteikumus un citas prasības, lai nodrošinātu, ka tās visas ir izpildītas.
2. Pārskatiet norādījumus, lai [atzīmētu programmu kā Publisher verificētu](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) , un nodrošinātu, ka visas darbības ir veiksmīgi izpildītas.
3. Pārskatiet [biežāk sastopamo problēmu](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#common-issues) sarakstu un izpildiet ieteicamās darbības, ja jums ir problēma no šāda saraksta.
4. Atkārtojiet pieprasījumu, izmantojot [Graph Explorer](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#making-microsoft-graph-api-calls) , lai apkopotu papildu informāciju un izslēgtu jebkādas problēmas lietotāja interfeisā.

**Ieteiktie dokumenti**

- [Publisher pārbaude — pārskats](https://docs.microsoft.com/azure/active-directory/develop/publisher-verification-overview) 
- [Savas lietojumprogrammas atzīmēšana par Publisher verificētu](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) 
- [Publisher verifikācijas problēmu novēršana](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification)

