---
title: Publisher verifikācijas problēmu novēršana
ms.author: v-smandalika
author: v-smandalika
manager: dansimp
ms.date: 01/15/2021
ms.audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "9004323"
- "7712"
ms.openlocfilehash: d4d0a78256a869ef4c1e19fe1ceb590824b10817
ms.sourcegitcommit: 6dc6f999e840c90694a246b90062950205679420
ms.translationtype: MT
ms.contentlocale: lv-LV
ms.lasthandoff: 01/15/2021
ms.locfileid: "49885058"
---
# <a name="issues-related-to-publisher-verification-for-developers"></a><span data-ttu-id="95451-102">Problēmas, kas saistītas ar Publisher verifikāciju izstrādātājiem</span><span class="sxs-lookup"><span data-stu-id="95451-102">Issues related to Publisher Verification for developers</span></span>

<span data-ttu-id="95451-103">**Ieteicamās darbības**</span><span class="sxs-lookup"><span data-stu-id="95451-103">**Recommended steps**</span></span> 

<span data-ttu-id="95451-104">Lai atrisinātu problēmas, kas saistītas ar Publisher verificēšanu, veiciet tālāk norādītās darbības.</span><span class="sxs-lookup"><span data-stu-id="95451-104">To resolve issues related to publisher verification, perform the below steps:</span></span>

1. <span data-ttu-id="95451-105">Pārskatiet priekšnoteikumus un citas prasības, lai nodrošinātu, ka tās visas ir izpildītas.</span><span class="sxs-lookup"><span data-stu-id="95451-105">Review the prerequisites and other requirements to ensure they are all met.</span></span>
2. <span data-ttu-id="95451-106">Pārskatiet norādījumus, lai [atzīmētu programmu kā Publisher verificētu](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) , un nodrošinātu, ka visas darbības ir veiksmīgi izpildītas.</span><span class="sxs-lookup"><span data-stu-id="95451-106">Review the instructions to [mark an app as publisher verified](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) and ensure all steps have been performed successfully.</span></span>
3. <span data-ttu-id="95451-107">Pārskatiet [biežāk sastopamo problēmu](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#common-issues) sarakstu un izpildiet ieteicamās darbības, ja jums ir problēma no šāda saraksta.</span><span class="sxs-lookup"><span data-stu-id="95451-107">Review the list of [common issues](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#common-issues) and follow the recommended steps if you have an issue from such a list.</span></span>
4. <span data-ttu-id="95451-108">Atkārtojiet pieprasījumu, izmantojot [Graph Explorer](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#making-microsoft-graph-api-calls) , lai apkopotu papildu informāciju un izslēgtu jebkādas problēmas lietotāja interfeisā.</span><span class="sxs-lookup"><span data-stu-id="95451-108">Reproduce the request using [Graph Explorer](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#making-microsoft-graph-api-calls) to gather additional info and rule out any issues in the UI.</span></span>

<span data-ttu-id="95451-109">**Ieteiktie dokumenti**</span><span class="sxs-lookup"><span data-stu-id="95451-109">**Recommended documents**</span></span>

- [<span data-ttu-id="95451-110">Publisher pārbaude — pārskats</span><span class="sxs-lookup"><span data-stu-id="95451-110">Publisher verification - overview</span></span>](https://docs.microsoft.com/azure/active-directory/develop/publisher-verification-overview) 
- [<span data-ttu-id="95451-111">Savas lietojumprogrammas atzīmēšana par Publisher verificētu</span><span class="sxs-lookup"><span data-stu-id="95451-111">Mark your app as publisher verified</span></span>](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) 
- [<span data-ttu-id="95451-112">Publisher verifikācijas problēmu novēršana</span><span class="sxs-lookup"><span data-stu-id="95451-112">Troubleshoot publisher verification</span></span>](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification)

